:root {
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
    box-sizing: border-box;
    font-family: 'Epilogue';
    font-size: 18px;
 }
  
  body {
    background-color: #000;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
  }

  .container {
    background-color: var(--almost-white);
    width: 1440px;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  nav {
    display: flex;
    align-items: center;
  }

  .logo {
    margin: 2rem;
  }

  button {
    font-size: 16px;
  }

  button:hover {
    cursor: pointer;
  }

  .navbar { 
    display: flex;
    margin-top: -.7rem;
    color: var(--medium-gray);
  }

  .dropdown {
    display: flex;
    font-weight: 500; 
  }

  .dropdown a {
    font-size: 16px;   
    color: var(--medium-gray);
    padding: 14px 20px;
    text-decoration: none;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 7vh;
    background-color: var(--almost-white);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .show {
    display: flex;
    flex-direction: column;
  }

  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: var(--medium-gray);
    padding: 14px 20px;
    display: flex;
    align-items: center;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .login {
    position: relative;
    left: 30vw;
  }

  .login button {
    background-color: var(--almost-white);
    border: 2px solid lightslategrey;
    border-radius: 10px;
    color: var(--medium-gray);
    width: 100px;
    height: 40px;
  }

  #input {
    border: none;
  }

  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    bottom: 1rem;
  }

  .left-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;  
    padding: 8rem 10rem;
    width: 85%;      
  }

  .left-column h1 {
    color: var(--almost-black); 
    margin-top: 1.5rem;  
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
    font-size: 4.5em;
  }

  .content {
    width: 65%;
    margin-top: -3rem;
  }

  p {
    color: var(--medium-gray);
    line-height: 1.7rem;
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
  }

  #btn_learn {
    background-color: var(--almost-black);
    border-radius: 15px;
    color: var(--almost-white);
    font-size: large;
    width: 160px;
    height: 55px;
    margin-top: 1em;
  }

  .right-column {
    margin: 0 auto;
  }

  .right-column img {
    position: relative;
    top: 4rem;
    right: 3rem;
  }

  .footer {
    display: flex;
    align-items: center;
    margin-top: 4rem;
  }

  .footer img {
    margin-right: 2rem;
  }